/* styles.css */

/* Posicionamento do botão */
.support-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; /* Para garantir que o botão fique acima de outros elementos */
}

/* Estilo do ícone do botão */
.support-button-icon {
    width: 60px;
    height: 60px;
    background-color: #007bff; /* Cor de fundo do botão (pode ser alterada) */
    color: #fff; /* Cor do ícone (pode ser alterada) */
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}
.creditos {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}
.discord { position: fixed; bottom: 10px; right: 10px; left: 10px; z-index: 9999;}